.home-wrapper {
    padding: 100px 30px; 

    header {
        width: 90%;
        max-width: 1240px;
        margin: 0 auto;
    }

    .no-results {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}