.news-item-wrapper {
    padding: 20px 30px; 

    header {
        width: 60%;
        max-width: 1240px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    article {
        width: 60%;
        max-width: 1240px;
        margin: 0 auto;
    }

    svg {
        position: relative;
        top: 2px;
    }



    p {
        font-size: 22px;
    }

    &-thumb {
        padding-bottom: 50%;
        background-size: cover;
        background-position: center center;
    }
}